*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root{
    --primary:#1b64ad;
}

body{
    background-color: var(--primary);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-family: poppins;
}

.container{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    align-items: center;
    justify-content: center;
    height: 65vh;
    width: 65vh;
    background-color: #fff;
    color: #000;
    border-radius: 50%;
    padding: 2rem;
    
}

#time{
    font-size: 3.5rem;
}

button{
    height: 2.5rem;
    width: 6rem;
    background-color: var(--primary);
    border: none;
    color: #fff;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1rem;
    font-family: poppins;
}

button:hover{
    transform: scale(.95);
}